#backend
db.sqlite3

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/frontend/djangoangularlogin/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/frontend/djangoangularlogin/.sass-cache
/frontend/djangoangularlogin/connect.lock
/frontend/djangoangularlogin/coverage
/frontend/djangoangularlogin/libpeerconnection.log
/frontend/djangoangularloginnpm-debug.log
/frontend/djangoangularloginyarn-error.log
/frontend/djangoangularlogintestem.log
/frontend/djangoangularlogin/typings

# System Files
.DS_Store
Thumbs.db
