<div class="container">
    <h1>Sign In</h1>
    <form class="signInForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
            <label for="username_id">Username</label>
            <input type="text" name="username" [(ngModel)]="username" id="username_id">
        </div>
        <div class="form-field">
            <label for="password_id">Password</label>
            <input type="password" name="password" [(ngModel)]="password" id="password_id">
        </div>
        <button type="submit">Sign In</button>
    </form>

</div>